.header{
    height: 60px;
    background-color:var(--blue);
    color:var(--white);
    display: flex;
    justify-content: space-between;
}
span{
    padding-right: 1rem;
}

.toggle{
    border-radius: 50%;
    background-color: var(--header_bg);
    border:none;
    padding:5px;
    color: var(--white);
    margin-top: 5px;
}
