
<mat-toolbar class="header"> 
    <div>My Bookings</div>
    <div>
        <span *ngIf= "logged">Employee</span>
        <span>
            <mat-icon [matMenuTriggerFor]="notification" #menuTrigger class="toggle" *ngIf= "logged">notifications_none</mat-icon>
            <mat-menu #notification="matMenu">
                <button mat-menu-item (click)="notifications()">Notifications</button>
            </mat-menu>
        </span>
        <span>
            <mat-icon [matMenuTriggerFor]="menu" #menuTrigger class="toggle" *ngIf= "logged">perm_identity</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </span>
    </div>
</mat-toolbar>