<div class="footer">
    <span>
        <img class="logo" src="../../assets/logo.png" title="logo">
        <img class="persistent" src="../../assets/persistent.png" title="persistent">
    </span>
    <span class="footerlinks">
        <a class="footerlink" href="" target="_blank">Privacy Notice</a>
        <a class="footerlink" href="" target="_blank">Cookies Policy</a>
        <a class="footerlink1" href="" target="_blank">Terms of Use</a>
        <a class="name">© 2021 Persistent Systems</a>
    </span>

</div>
