
div{
    margin-top: 30px;
}
.addemployee{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    border:none;
    float: right;
    margin-right: 20px;
}

.addemployee:hover{
    background-color: var(--button_hover);
}

span{
    font-size: 14px;
    padding-left: 20px;
}

table{
    background-color: var(--body_bg);
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
}
tr{
    background-color: var(--white);
}

th{
    background-color: var(--body_bg);
    color:var(--blue);
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.paginator{
    padding-right: 20px;
    padding-left: 20px;
}

.row{
    background-color: var(--white);
    padding-top: 20px;
    padding-bottom: 50px;
}
.matmenu{
    border:1px solid blueviolet;
}
._menu:hover{
    background-color: var(--lightblue);
}

.disable{
    color: red;
}