<div>
    <span>Employee Data</span>
    <button class="addemployee" (click)="openDialog()">Add new employee</button>
</div>
<!-- <div *ngIf="!employeempty">

    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>ID</th>
        <th>Gender</th>
        <th>Grade</th>
        <th>ODC/Non ODC</th>
        <th>BU</th>
        <th>Project</th>
        <th>Actions</th>
      </tr>

      <tr class="row" *ngFor="let employee of employeelist">
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.grade}}</td>
        <td>{{employee.odc}}</td>
        <td>{{employee.bu}}</td>
        <td>{{employee.project}}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          
          <mat-menu class="matmenu" #menu="matMenu">
            <button class="_menu" mat-menu-item>
              <span>View</span>
            </button>
            <button class="_menu" mat-menu-item>
              <span>Edit</span>
            </button>
            <button class="_menu" mat-menu-item disabled>
              <span>Activate/Deactivate</span>
            </button>
            <button class="_menu" mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
          
        </td>

      </tr>
    </table> -->
    

 

<div *ngIf="!employeempty">
  <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let employee"> {{employee.firstname}} </td>
      </ng-container>
      <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let employee"> {{employee.lastname}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
      </ng-container>
      <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let employee"> {{employee.gender}} </td>
      </ng-container>
      <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef>Grade</th>
          <td mat-cell *matCellDef="let employee"> {{employee.grade}} </td>
      </ng-container>
      <ng-container matColumnDef="odc">
          <th mat-header-cell *matHeaderCellDef>ODC/Non ODC </th>
          <td mat-cell *matCellDef="let employee"> {{employee.odc}} </td>
      </ng-container>
      <ng-container matColumnDef="bu">
          <th mat-header-cell *matHeaderCellDef>BU</th>
          <td mat-cell *matCellDef="let employee"> {{employee.bu}} </td>
      </ng-container>
      <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef>Project</th>
          <td mat-cell *matCellDef="let employee"> {{employee.project}} </td>
      </ng-container>
      <ng-container  matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let employee">
            <app-menus [currentemployee]="employee"></app-menus>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
      <tr mat-row *matRowDef="let employee; columns: displayedCols;" [ngClass]= "{ 'disable': isdisable}"></tr>
  </table>
  <div class="paginator">
    <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>
</div>
<div class="center" *ngIf="employeempty">
    <img src="../../assets/noemployee.png">
</div>
